# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# 1. 数据库配置
DATABASE_URL="Your Database Connection String"

# 2. 应用配置
PORT=3003 # 这个端口号可以随便改，但不能和前端应用的端口号冲突

# 3. JWT (用户认证) 配置 - 稍后登录功能会用到
# !!! 请务必替换成您自己生成的足够长的随机字符串 (可以用密码生成器)
JWT_SECRET="Your JWT Secret Key"
JWT_EXPIRATION_TIME="1d" # token 有效期：d=天, h=小时, m=分钟

# 4. CORS (跨域) 配置
# 我们前端应用的本地开发地址，稍后会用到
FRONTEND_URL="http://localhost:3004,http://192.168.1.148:3004"
CORS_ORIGINS=${FRONTEND_URL}

# 邮件服务配置 (Resend)
# 使用 Resend 的官方测试发件地址
# 或者，您也可以使用您自己的发件地址（确保您已经在 Resend 仪表盘中验证了该地址）
EMAIL_FROM="onboarding@resend.dev"
RESEND_API_KEY="Your Resend API Key"

# Cloudinary 配置
CLOUDINARY_CLOUD_NAME="Your Cloudinary Cloud Name"
CLOUDINARY_API_KEY="Your Cloudinary API Key"
CLOUDINARY_API_SECRET="Your Cloudinary API Secret"